@import "tailwindcss";

/* 全站淡入動畫 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}

@layer base {
  section {
    scroll-margin-top: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
  }

  @media (min-width: 768px) {
    section {
      scroll-margin-top: 6rem;
      padding-top: 1rem;
      padding-bottom: 2rem;
    }
  }
}
